<!-- ko with: home -->
<div class="jumbotron">
    <h1>ElasticPreviewer</h1>
    <p class="lead">A simple tool to compare the search results of your Elasticsearch queries.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Elasticsearch info</h2>
        <p>Fill out the information about your Elasticsearch server and search query</p>
        @*<p data-bind="text: myHometown"></p>*@

    </div>

    <div class="col-md-6">
        <h2>The result</h2>
        <p> The result of your query. </p>

        <textarea data-bind="text: result"></textarea>
    </div>

    <div class="col-md-12">
        <h2>History</h2>
        <p>The searches you have previously made (only kept for this session, the data is not stored anywhere)</p>
    </div>
</div>

<!-- /ko -->
